// chỉ sự dụng cách viết code này được nếu khai báo
// import classNames from 'classnames/bind'; và const cx = classNames.bind(styles);
//
.wrapper {
    // do đưa vào Layout mặc định flex nên nếu ko khai báo width 100 % thì nó sẽ ko mặc định là 100 %
    width: 100%;
    // giả sử ko khai báo biến thì nó lấy mặc định là 60px, nếu ko thì nó lấy từ biến
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    //background-color: #cccc;
}
